section {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../pildid/esileht.jpg);
	height: 85vh;
	background-size: cover;
	background-position: center;
}

.grid-container {
	diplay: grid;
	height: 200px;
	align-content: center;
	justify-content: space-around;
	grid-template-columns: 50px 50px 50px;
	grid-gap: 10px;
	padding: 10px;
}

.grid-container > div {
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

