@font-face {
	font-family: Qwerty Ability;
	src: url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
}

p{
    font-family: 'Pacifico', cursive;
    font-size: large;
}


.link {
    color: black;
    padding-right: 30px;
    text-decoration: none
}

.sisu{
    padding-top:  20px;
    padding-left: 60px;
    padding-right: 100px;
    overflow: auto;
}

.tekst{
    font-family: 'Pacifico', cursive;
    font-size: large;
    float: left;
    width: 650px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
}

#pilt{
    float: right;
    margin-bottom: 30px;
    margin-right: 20px;
}

#andmed{
    overflow: auto;
    margin-top: 80px;
}

#spetsialistid{
    overflow: auto;
    margin-left: 70px;
    margin-bottom: 50px;
}

.inimene{
    float: left;
    width: 160px;
}

.inim_nimi{
    margin-bottom: 20px;
}

.inim_pilt{
    width: 80px;
    height: 80px;
    margin-left: 20px;
    border-radius: 25px;
}

.inim_pilt:hover{
    position:relative;
    top:-25px;
    left:-35px;
    width:200px;
    height:auto;
    display:block;
    z-index:999;
    border-radius: 0px;
}

#pikk{
    width: 220px;
    margin-right: 0px;
}

#map {
    margin-left: 100px;
    height: 280px;
    width: 500px;
    float: left;
}

.parempoolne{
    overflow: auto;
}

.ikoonid{
    padding-left: 50px;
    overflow: auto;
    float: left;
    width: 50px;
}

#keskmine_pilt{
    margin-top: 20px;
    margin-bottom: 20px;
}

.info{
    float: left;
    margin-left: 50px;
    width: 500px;
}

#keskmine_tekst{
    margin-top: 20px;
    margin-bottom: 35px;
}

.all{
    margin-top: 100px;
}

#fb{
    padding-bottom: 20px;
}

#ig{
    margin-left: 60px;
    margin-top: 40px;
}