style.css


		/* stylt the header */
	header {
		background-color: #666;
		padding: 30px;
		text-align: center;
		font-size: 35px;
		color: white;
	}


	body {
  		background-color: lightblue;
	}

	h1 {
  		color: darkblue;
  		text-align: left;
	}

	p {
		text-align: left;
	}

		/*style navigation*/
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #f3f3f3;
	}

	li {
  		float: left;
	}

	li a {
		display: block;
		color: #666;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover {
  		background-color: red;
	}	

	img {
		width: 16%;
		height:auto;
		margin-top: 25px;
  		margin-bottom: 25px;
  		margin-right: 25px;
  		margin-left: 25px;
	}

		/* style the footer */
	footer {
		background-color: black;
		padding: 5px;
		width: 100%
		text-align: center;
		color: white;
	}

