*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header {
	overflow: hidden;
	padding: 20px 10px;
	line-height: 20px;
}

/*navigation*/
ul {
	float: right;
	list-style-type: none;
	margin-top: 20px;
}

ul li{
	display:inline-block;
	float: left;
}

ul li a{
	display: block;
	color: #000;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	padding: 5px 28px;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #000;
	color: #ffffff
}	

ul li.active a{
	background-color: lightgrey;
}

.logo img{
	float:left;
	width: 200px;
	height: auto;
	margin: 30px;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.contactline{
	float: left;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 50px;
	line-height: normal;
}

.button {
	position: absolute;
	top: 65%;
	left: 45%;
	transform: translate(-50%,-50%);
}

.btn{
	display:inline-block;
	cursor:pointer;
	font-size:14px;
	border: 1px solid #fff;
	padding: 10px; 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #ffffff;
	color: #000
}

section {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../pildid/esileht.jpg);
	height: 85vh;
	background-size: cover;
	background-position: center;
}


footer {
	background-color: black;
	padding: 20px 10px;
	width: 100%;
	text-align: center;
	color: white;
	line-height: 20px;
}

