.upper{
    margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
    font-size: large;
    background-color: aliceblue;
    /*box-shadow: 10px 10px 5px rgb(241, 238, 238);*/
}

.picture{
    display: flex;
    float: left;
}

.sidetext{
    float: left;
    padding-left: 50px;
    padding-top: 40px;
    width: 40%;
    background-color: aliceblue;
}

.sidetext_2{
    padding-left: 50px;
    padding-top: 40px;
    float: left;
    width: 40%;
}

.picture_2{
    float: left;
    padding-left: 50px;
}

#cap{
    padding-bottom: 90px;
}

.prices{
    margin-left: 50px;
    margin-right: 50px;
}

.subheading{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: xx-large;
}

.inside{
    display: flex;
    margin-bottom: 40px;
}

.box{
    background-color: rgb(82, 194, 194);
    width: 200px;
    border-radius: 25px;
}

.price{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.time{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

#massage_1{
    margin-left: 24%;
}

#massage_2{
    margin-left: 30px;
    margin-right: 30px;
}

#füsio1{
    margin-left: 33%;
    margin-right: 30px;
}

#bottom_prices{
    overflow: auto;
    padding-bottom: 20px;
}

#left{
    float: left;
    margin-left: 30%;
}

#right{
    margin-left: 10%;
}

.subheading_1{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: xx-large;
}

.subheading_2{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-align: center;
    padding-right: 25%;
    font-size: xx-large;
}

.box_2{
    background-color: rgb(82, 194, 194);
    width: 200px;
    margin-bottom: 30px;
    border-radius: 25px;
}

.box_3{
    background-color: rgb(82, 194, 194);
    width: 200px;
    margin-left: 50%;
    margin-bottom: 30px;
    border-radius: 25px;
}