*{
	margin: 0;
	font-family: Pacifico;
	box-sizing: border-box;
}

header {
	overflow: hidden;
	line-height: 20px;
}

/*navigatsioon*/
ul {
	float: right;
	list-style-type: none;
	margin-top: 20px;
}

ul li{
	display:inline-block;
	float: left;
}

ul li a{
	display: block;
	color: #000;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	padding: 5px 28px;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #000;
	color: #ffffff;
}	

ul li.active a{
	background-color: lightgrey;
}
/*esilehe logo*/
.logo img{
	float:left;
	width: 270px;
	height: auto;
	margin: 30px;
}

/*lehe ülaservas olev kontaktiriba*/
.navbar {
	width: 100%;
	text-align: center;
  	overflow: hidden;
	background-color: black;
	top: 0;
}

.navbar a{
	float: left;
	display: block;
  	padding: 12px;
  	color: white;
  	text-decoration: none;
  	font-size: 15px;
 	text-align: left;
}

.nav{
	margin:50px;
}

/*alamlehtede pealkiri*/
.headline{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: beige;
    background-image: url("../pildid/pealkiri.jpg");
    border-radius: 25px;
}

/*pealkirja stiil*/
h1{
	font-size: 30px;
	line-height: normal;
}

h2{
	font-size: 25px;
}

h3{
	font-size:17px
}


p{
    font-size: 17px;
}

a{
	color: #ff606b;	
}


body{
    background-image: url("../pildid/taust.jpg");
}

section{
	padding-right: 7%;
	padding-left: 7%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 10%;
    margin-right: 10%;
    overflow: auto;
    /*background-color: aliceblue;*/
    /*box-shadow: 10px 10px 5px rgb(241, 238, 238);*/
}

footer{
	background-color: black;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	color: white;
	line-height: 20px;
}
.back{
   	overflow: auto;
    	background-color: aliceblue;

}




/*scrollbar*/
/*Making scrollbar colourful; Code from https://www.w3schools.com/ */
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(128, 128, 128); 
    border-radius: 10px;
}
    
/* Handle */
::-webkit-scrollbar-thumb {
	background-image: url("../pildid/pealkiri.jpg");
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 194, 194); 
}